<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4"
               (selectedTabChange)="dayTabSelection($event)">
  <mat-tab *ngFor="let d of this.service.eatableDay" [label]="d" dynamicHeight="true">

    <div class="checkchild">
      <ul style=" list-style-type:none">
        <li *ngFor="let c of this.service.childrenByParent" class="listStyle">
          <mat-checkbox color="primary" (change)="childSelection($event)" [value]="c.id" [name]="c.name">
            {{this.c.name}}
          </mat-checkbox>

        </li>
      </ul>
    </div>

    <div class="checkchild">
      <button mat-raised-button (click)="openNav()">OK</button>
    </div>

<!--overlay-->
    <div id="myNav" class="overlay">
      <!-- Overlay content -->
      <div class="overlay-content">      <!--*ngIf="this.service.tickedChild.ticked"-->
        <p class="overlayText" > Votre enfant ne mangera pas à la cantine le {{d}}</p>
        <button (click)="postMeal()" (click)="closeNav()" class="overlayButton"> Valider</button>
        <button (click)="closeNav()"class="overlayButton"> Annuler</button>
      </div>
    </div>


  </mat-tab>


  {{mealsDayChild}}
</mat-tab-group>
