<app-privacy></app-privacy>

<h1>Nouveau contrat</h1>
<form>

  <div class="container">
    <mat-form-field>
      <label for="titre">Titre:</label>
      <input matInput class="week" type="text" [(ngModel)]="title" name="titre" id="titre">
    </mat-form-field>
    <br>
    <mat-form-field>
      <label for="content">Description</label>
      <textarea  matInput placeholder="Description" [(ngModel)]="description" name="content" id="content"></textarea>
    </mat-form-field>

  </div>

  <br>
  <button class="button"> Valider </button>
</form>

