<!--<div class="container">-->
  <!--<h1>Nouveau contrat</h1>-->
  <!--<form>-->
    <!--<div class="form-group">-->
      <!--<label for="titre">Titre</label>-->
      <!--<input type="text" class="form-control" id="titre" required>-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="alterEgo">Description</label>-->
      <!--<textarea type="text" class="form-control" id="alterEgo"></textarea>-->
    <!--</div>-->

    <!---->

    <!--<button type="submit" class="btn btn-success">Créer</button>-->

  <!--</form>-->
<!--</div>-->
<h1>Nouveau contrat</h1>
<form>

  <div class="container">
    <mat-form-field>
      <label for="titre">Titre:</label>
      <input matInput class="week" type="text" placeholder="titre" [(ngModel)]="title" name="titre" id="titre">
    </mat-form-field>
    <br>
    <mat-form-field>
      <label for="content">Description</label>
      <textarea  matInput placeholder="Description" [(ngModel)]="description" name="content" id="content"></textarea>
    </mat-form-field>

  </div>

  <br>
  <button class="button"> enregistrer </button>
</form>

