<h2 class="menus-h2">Menus</h2>

<mat-accordion>
  <mat-expansion-panel *ngFor="let menu of this.service.menus" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Semaine n°: {{menu.week}}
      </mat-panel-title>
      <mat-panel-description>
        Cliquez pour voir le menu
      </mat-panel-description>

      <button mat-flat-button color="" (click)="onDelete(menu)"><mat-icon>delete</mat-icon></button>
    </mat-expansion-panel-header>

    <form (submit)="modify(menu.id)">
      <textarea *ngIf="edit === true" [(ngModel)]="modifiedContent" name="modifiedContent"></textarea>
      <br>
      <input type="number" *ngIf="edit === true" [(ngModel)]="modifiedWeek" name="modifiedWeek">
    <br>
      <button *ngIf="edit === true" mat-flat-button color="primary">
        <mat-icon>done_outline</mat-icon>
      </button>
      <p *ngIf="edit === false">{{menu.content}}</p>
      <a mat-flat-button color="" (click)="onEdit(menu)">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </a>
    </form>


  </mat-expansion-panel>
</mat-accordion>

<br>


<form (submit)="onSubmit()" >

  <div class="container">
    <mat-form-field >
    <input matInput class="week" type="number" placeholder="semaine n°" [(ngModel)]="week" name="week">
    </mat-form-field>

    <br>
    <mat-form-field  >
      <textarea matInput placeholder="Indiquez le menu" [(ngModel)]="content" name="content"></textarea>
    </mat-form-field>
  </div>

<br>
  <button class="button"> enregistrer </button>
</form>

