 <mat-tab-group  mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">home</mat-icon>
        </ng-template>
        <app-home></app-home>
      </mat-tab>

      <mat-tab >
        <ng-template mat-tab-label>
          <mat-icon>local_dining</mat-icon>
        </ng-template>
        <app-meals></app-meals>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>list</mat-icon>
        </ng-template>
        <app-menus></app-menus>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>lock</mat-icon>
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae consectetur cumque dolorem ducimus, error facere fugiat impedit ipsa nemo, neque perspiciatis, qui quibusdam quo sapiente temporibus voluptas? Sint.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae consectetur cumque dolorem ducimus, error facere fugiat impedit ipsa nemo, neque perspiciatis, qui quibusdam quo sapiente temporibus voluptas? Sint.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae consectetur cumque dolorem ducimus, error facere fugiat impedit ipsa nemo, neque perspiciatis, qui quibusdam quo sapiente temporibus voluptas? Sint.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae consectetur cumque dolorem ducimus, error facere fugiat impedit ipsa nemo, neque perspiciatis, qui quibusdam quo sapiente temporibus voluptas? Sint.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae consectetur cumque dolorem ducimus, error facere fugiat impedit ipsa nemo, neque perspiciatis, qui quibusdam quo sapiente temporibus voluptas? Sint.
        </p>

      </mat-tab>
    </mat-tab-group>


