<header>
  Ecole Privée Saint-Roch
</header>



<div>

  <div>
    <app-menus *ngIf="this.service.activeTab==='menus'"></app-menus>
    <app-meals *ngIf="this.service.activeTab==='meals'"></app-meals>
    <!--app-privacy *ngIf="this.service.activeTab==='privacy'"></app-privacy-->
    <app-home *ngIf="this.service.activeTab==='home'"></app-home>
  </div>


  <div class="container">
    <div class="buttonenbas">
      <button (click)="setHome()">
        Accueil
      </button>
      <button (click)="setMeals()">
        Retirer repas
      </button>
      <button (click)="setMenus()">
        Menus
      </button>
      <button>
        Confidentialité
      </button>
    </div>
  </div>




</div>
